[user]
	name = Josh Lamontagne
	email = josh@joshlamontagne.com
[push]
	default = current
[pull]
	rebase = preserve
[fetch]
	prune = true
[alias]
	review = !git fetch --all --prune && git checkout
[merge]
	conflictstyle = diff3
[core]
	editor = vim
