[submodule "zsh/.zprezto"]
	path = zsh/.zprezto
	url = git@github.com:sorin-ionescu/prezto.git
[submodule "x11/.urxvt/ext"]
	path = x11/.urxvt/ext
	url = git://github.com/muennich/urxvt-perls.git
[submodule "x11/.urxvt/urxvt-font-size"]
	path = x11/.urxvt/urxvt-font-size
	url = git://github.com/majutsushi/urxvt-font-size.git
[submodule "base16-shell"]
	path = base16-shell
	url = git@github.com:chriskempson/base16-shell.git
