[submodule "urxvt/ext"]
	path = urxvt/ext
	url = git://github.com/muennich/urxvt-perls.git
[submodule "zprezto"]
	path = zprezto
	url = git://github.com/sorin-ionescu/prezto.git
[submodule "urxvt-font-size"]
	path = urxvt/urxvt-font-size
	url = https://github.com/majutsushi/urxvt-font-size.git
